/*Ellpsis*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  #{&}2,
  #{&}3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  #{&}2 {
    -webkit-line-clamp: 2;
  }

  #{&}3 {
    -webkit-line-clamp: 3;
  }
}

// OVeride Bootstrap
.form-control {
  background-color: map-get($backgroundColor, input);
  
  &:focus {
    box-shadow: 0 0 0;
    background-color: map-get($backgroundColor, input-focus);
  }
}
