@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');


// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Custom Reset
body {
  	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

ul,
li,
ol {
    padding: 0;
    margin: 0;
}

li,
ol {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;

    &:last-child {
        margin-bottom: 0;
    }
}